*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.so
.eggs/
*.egg-info/
*.egg
dist/
build/
.venv/
venv/
.pythonlibs/
.env
.uv/

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log
